:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  } 
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width:  70%;
    flex-wrap: wrap; /* Перенос на маленьких экранах */
  }

  .button, .book-button, .send-button, .pay-button  {
    background: none;
    border: 0.5px solid #ffffff;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 10px 30px;
    margin: 0;
    text-decoration: none;
    border-radius: 30px;
  }
  
  .button:hover {
    background: white;
    color: black;
  }
  
  .book-button, .reg-button, .send-button, .pay-button {
    background-color: #763ba7db;
    border: none;
  }
  
  .book-button:hover, .reg-button:hover, .send-button:hover,.pay-button {
    background: #642f8f;
    color: white;
  }



