/* Стили для страницы админа */
.admin-panel-page {
    margin-top: 120px; /* Отступ равен высоте шапки */
    padding: 20px; /* Дополнительный внутренний отступ для удобства */
}

/* Стили для страницы управления сервисами */
.services-management-page {
    margin-top: 200px; /* Отступ равен высоте шапки */
    padding: 160px; /* Дополнительный внутренний отступ для удобства */
}
.thStyle{
color: #000;
  };