.login-container {
  position: relative;
  min-height: 85vh;
  overflow: hidden;
  margin-top: -60px;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.login-form {
  width: 500px;
  padding: 40px 50px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  height: 40px;
  padding: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1); 
  border: none;
  transition: all 0.3s ease;
  outline: none;
  color: #ccc;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.15); 
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #763ba7db;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.login-form button[type="submit"]:hover {
  background-color: rgb(78, 32, 116);
}

.error-message {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
}

.register-link {
  font-size: 14px;
  color: #ffffff;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.register-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.68);
  font-size: 16px;
}

.register-link a:hover {
  color: rgba(148, 148, 148, 0.68);
}

.password-hint{
  color: rgba(148, 148, 148, 0.68);
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.68);
}

.login-link a:hover {
  color: rgba(148, 148, 148, 0.68);
}


@media (max-width: 768px) {
  .login-form {
    max-width: 90%;
    padding: 30px;
  }
}


@media (max-width: 1024px) {
  .login-form {
    max-width: 80%;
    padding: 30px;
  }
}


@media (max-width: 480px) {
  .login-form {
    max-width: 95%;
    padding: 25px;
  }
}
